@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-gray-100: ##f7f7f7;
  --color-gray-200: #f2f2f2;
  --color-gray-250: #f5f5f5;
  --color-gray-300: #f8fefb;
  --color-gray-400: #e0e0e0;
  --color-gray-500: #828282;
  --color-primary: #013941;
  --color-green-100: #e6fbf2;
}

@theme inline {
  --font-sans: var(--font-outfit);
}
